@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Moderustic", sans-serif;
}

p {
  font-size: 40px;
  color: blueviolet;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.5;
  text-shadow: 1px 1px 4px black;
}

a {
  text-decoration: none;
  font-size: 60px;
  color:white;
  cursor: pointer;
  background-color: brown;
  border: solid 2px;
  border-color: rgb(29, 5, 5);
  border-radius: 15px;
}