div p span {
  color: blueviolet;
}

.v1 {
  font-size: 30px;
  color: brown;
}

#identificador {
  font-size: 50px;
  color: blueviolet;
}

.ejemploclase {
  font-size: 30px;
  color: aquamarine;
}

p {
  color: red;
}

p[class="a"] {
  background-color: rgb(0, 0, 0);
}
a[p] {
  font-size: 50px;
}